# secrets
.env
.env.*

# node in /server
server/node_modules/
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/pnpm-lock.yaml

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# logs & coverage
logs
*.log
coverage/